@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.Vector{
    content: "";
    background-color: black;
    height: 2px;
    width: 54px;
    bottom: 850px;
    position: relative;
    left: 250px;
}

.texto-1{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    right: -80px;
    bottom: 8px;
}

.texto-2{
    color: white;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    font-weight: 600;
    position: relative;
    
}

.texto-3{
    color: white;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    font-weight: 500;
    position: relative;
}

.box-1{
    width: 614px;
    height: 73px;
    border: 1px solid black;
    top: 20px;
    position: relative;
    left: 700px;
    



}