.main-section{
    
    background-image: url("../../assets/rectangule 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 75vh;
    margin-top: 114px;
    
}