@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.Recent{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    top: 150px;
    left: 900px;
    position: relative;
    bottom: 5px;
}

.Confira{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    top: 9px;
}

.sub-text1{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    position: relative;
    top: 24px;
}