.container-shoes-card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-shoes-card .text-shoes-card .title::after {
    left: calc(100% + 20px);
}

.container-shoes-card .text-shoes-card .title::before {
    right: calc(100% + 20px);
}

.container-shoes-card .text-shoes-card .subtitle {
    margin-bottom: 20px;
}

.container-shoes-card .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
}

.image {
    width: 350px;
    height: 350px;
}