.rectangule-shoes{
    position: relative;
    top: 200px;
    margin: 30px;

}

.rectangule-shoes2{
    position: relative;
    top: 200px;
    margin: 30px;

}

.rectangule-shoes3{
    position: relative;
    top: 200px;
    margin: 30px;

}