@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main-Header {
    background-image: url("../../assets/bg-001.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 75vh;
}

.icon {
    color: #ffff;
    width: 20px;
    height: 20px;

}

header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 41px;
    width: 39.59px;
    height: 41px;
    margin-right: 500px;
}

.Navbar span {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #ffff;
}

.Navbar {
    width: 473px;
    display: flex;
    justify-content: space-between;
}

.Icons {
    width: 152px;
    display: flex;
    justify-content: space-between;
    margin-right: 43px;
}

.Navbar span:hover {
    border-bottom: solid 1px #ffffff;
    font-weight: bold;
}

.mainContents {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
    gap: 0 250px;
}

.text {
    width: 441px;
}

.p1 {
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #ffff;
    position: relative;
    margin-left: 38px;
}

.p1::before {
    content: "";
    height: 1px;
    width: 34px;
    background-color: white;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 6px;
    left: -38px;
}

.text h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #ffff;
    width: 82%;
    line-height: 35px;
}

.p2 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffff;
    line-height: 15px;
    margin-top: 9px;
}


.BuyHere {
    width: 169px;
    height: 64px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;

}