@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.sub-footer {
    width: 1920px;
    height: 580px;
    background-color: #000000;
    position: relative;
    top: 500px;
}

.logo {
    width: 39.59px;
    height: 41px;
    position: relative;
    left: 109px;
    top: 53px;
}

.title-name{
    font-size: 14px;
    font-weight: 600;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 200px;
    top:25px;
}