@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.section1 {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    bottom: 550px;
    margin-left: 120px;
}

.section2 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300px;
    position: relative;

}

.section3 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300px;
    position: relative;
    bottom: -15px;
    margin-left: -337px;

}

.section4 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300px;
    position: relative;
    bottom: -15px;
    margin-left: 5px;
    color: red;

}

.section5 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300px;
    position: relative;
    bottom: -15px;
    margin-left: 5px;
}

.section6 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500px;
    position: relative;
    bottom: -15px;
    margin-left: 5px;
    color: red;
}

.section7 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    bottom: 80px;
    margin-left: -250px;

}

.section8 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    top: 580px;
    position: relative;
    font-size: 14px;
    text-align: justify;
    left: 575px;

}

.section9 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 655px;
    left: 650px;
    font-size: 18px;
    text-align: justify;
}

.section10 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 690px;
    left: 590px;
    font-size: 16px;
    text-align: justify;


}

.BuyHere2 {
    width: 169px;
    height: 64px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: black;
    color: white;
    top: 120px;
    position: relative;
    margin-left: -270px;

}