.container {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}

.text-shoes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.text-shoes-card .title {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.text-shoes-card .title::after {
    content: "";
    width: 54px;
    height: 1px;
    display: inline-block;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
}

.text-shoes-card .title::before {
    content: "";
    width: 54px;
    height: 1px;
    display: inline-block;
    background-color: #000000;
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
}

.text-shoes-card .subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.text-shoes-card .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 33%;
    
}

.bloco-wrapper {
    margin-top: 95px;
    height: 100%;
    padding: 0 121px;
    display: flex;
    flex-wrap: wrap;
    gap: 90px 10px;
    justify-content: center;
}

.bloco1 {
    position: relative;
    width: 593px;
    height: 345px;
    background-color: #F7F9FB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo1 {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    font-size: 10px;
    color: #ffff;
    font-style: italic;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.bloco1 img {
    width: fit-content;
    height: fit-content;
}

.bloco1 button {
    font-family: 'Unna';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: auto;
    right: auto;
    box-sizing: border-box;
    width: 160px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #000000;
    transition: all .3s ease-in-out;
}

.bloco1 button:hover {
    transform-origin: right;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px #B3E141;
    border-color: #FFF;
}

.bloco1 button:nth-last-child(1):hover {
    box-shadow: 0px 4px 34px #DF272C;
}

.bloco1 .text {
    position: absolute;
    bottom: -35px;
    left: 0;
}

.bloco1 .text .first {
    font-family: 'Unna';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

.bloco1 .text .second {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #555555;
}

.bloco1 .text .second span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #FF0000;
}